.App {
  text-align: center;
  background-color: rgb(255, 108, 144);
}

.App-logo {
  animation: App-logo-spin infinite 0.175s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(205, 108, 144);
  height: 150px;
  padding: 20px;
  color: Black;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-change-accounts {
  position: absolute;
  right: 100px;
  padding: 10px;
}
